.partners{
    /* border debug */
    /* border : 10px red solid; */
    flex: 1;
    text-align: center;
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40px;
}

.partners h1{
    font-family: Source;
    font-weight: 400;
    font-size: 30px;
}

.partners h3{
    white-space: normal;
}

.swipe-partners{
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
}

.arrow{
    font-size: large;
    width: 40px;
}